<div id="projetos">
  <div class="centralizador projetos">
    <h2>Projetos</h2>
     <div class="projetos-itens">
    <div class="pro">
      <div class="breve">
        <p>Em breve</p>
      </div>
    </div>
    <div class="pro">
      <div class="breve">
        <p>Em breve</p>
      </div>
    </div>
    <div class="pro">
      <div class="breve">
        <p>Em breve</p>
      </div>
    </div>
    <div class="pro">
      <div class="breve">
        <p>Em breve</p>
      </div>
    </div>
    <div class="pro">
      <div class="breve">
        <p>Em breve</p>
      </div>
    </div>
    <div class="pro">
      <div class="breve">
        <p>Em breve</p>
      </div>
    </div>
  </div>
    <div class="github-link">
      <button>ver mais</button>
    </div>
  </div>
</div>
