/* You can add global styles to this file, and also import other style files */
body {
  background: #78837a;
  width: 100%;
  height: 100vh;
  // display: flex;
  // align-items: center;
  padding: 0;
  margin: 0;
  position: absolute;
  overflow-x: hidden;
}

