<section id="section-inicio">
  <div class="apresentacao">
    <div class="resumo-left">
      <p class="descricao" data-sr-id="2"
        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 3s cubic-bezier(0.5, 0, 0, 1) 0s, transform 3s cubic-bezier(0.5, 0, 0, 1) 0s;width: 60%;margin-top: 50%;">
        Oi, eu sou <br>
        <span style="display: inline" class="meu-nome">Alan Brito dos Santos.</span>
        <br>
        <!-- Desenvolvedor Full Stack -->
        Desenvolvedor Front-end / Back-end
      </p>
      <br>
      <div class="linkedin" data-sr-id="3"
        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 3s cubic-bezier(0.5, 0, 0, 1) 0s, transform 3s cubic-bezier(0.5, 0, 0, 1) 0s;">
        <a href="https://www.linkedin.com/in/alan-brito-dos-santos-66915b55/" target="_blank" class="link">Linkedin</a>
      </div>



    </div>

    <div class="imagem-direita">
      <img src="{{imageAlan}}" />
    </div>
  </div>


</section>
