<h2>
  <p>habilidades works!</p>
</h2>

Desenvolvedor de software, com experiência em projetos (ATM) no banco Itaú onde desenvolvo e dou soluções para sistemas
bancários e acompanho processos de testes unitários e integrados com equipes especializadas, enfim, faço:
<ul>
  <li>  Levantamento de requisitos de negócios;</li>
  <li>  Implementação de soluções (programação)</li>
  <li>  Testes de integração (com as equipas especializadas).</li>
  <li>  Aprovação (em conjunto com as equipas especializadas)</li>
  <li>  Implantação</li>
</ul>
Tenho foco em desenvolvimento em C#, XAML, WPF, RTC e GIT. Atualmente estou estudando Angular e .NET . Me
considero ágil e consistente no aprendizado de novas tecnologias e alta adaptabilidade a mudanças, pronto para superar
qualquer desafio!
Se eu pudesse me definir em 3 palavras, com certeza seriam: otimista, perseverante e esforçado!
