<div class="barra">
  <div class="menu-centro">
    <div class="barra-conteiner centralizador">
      <nav class="direita">
        <ul>
          <li><a routerLink="/home" [routerLinkActive]="['active']">Início</a> </li>
          <li><a routerLink="/sobre" [routerLinkActive]="['active']">Sobre mim</a> </li>
          <li><a routerLink="/projetos" [routerLinkActive]="['active']">Projetos</a> </li>
          <li><a routerLink="/habilidades" [routerLinkActive]="['active']">Habilidades</a> </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
