<section class="espaco-todo">
  <!-- <div class="div-esquerda">
    <img src="{{imageSobreMim}}" />
  </div> -->
  <img id="imagem-inversa" src="{{invertido_imageSobreMim}}" />
  <div class="div-direita">
    <h2>Sobre mim</h2>

    <p>Sou um desenvolvedor software apaixonado por tecnologia, buscando transformar sonhos em realidade através da
      programação. Iniciando no desenvolvimento em 2019, me reconheço como entusiasta em novas tecnologias do mercado,
      com aprendizado adquirido dia após dia.
      Possuo foco em desenvolvimento em C#, XAML, WPF, RTC e GIT. Atualmente estou estudando Angular e .NET.</p>
    <p>Me considero ágil e consistente em aprender uma nova tecnologia e alta adaptabilidade às mudanças, pronto para
      superar qualquer desafio!
      Se eu pudesse me definir em 3 palavras, certamente seriam: otimista, perseverante e esforçado!</p>
  </div>
  <img src="{{imageSobreMim}}" />
</section>
