<footer class="footer">
  <div class="footer-conteiner">
    <div class="contato-creditos">
      "E-mail para contatos: alanbritodossantos2015@gmail.com"
      <br>
      "Feito por Alan Brito dos Santos"
    </div>
    <div class="icons">
      <div class="links2"><a href="https://github.com/alanbritodossantos" target="_blank"><img src="{{imageSrcGithub}}" /></a></div>
      <div class="links1"><a href="https://www.linkedin.com/in/alan-brito-dos-santos-66915b55/" target="_blank"><img src="{{imageSrcLinkdln}}" /></a></div>
    </div>
  </div>
</footer>
